<div class="container-fluid">
    <section class="row">
        <div class="col-12">
            <h1>Pokedex</h1>
        </div>

        <div id="wildPokemonList" class="col-3 card p-3 m-3">
            <!-- <h5>poke name</h5> -->
        </div>

        <div id="activeDetailedPokemon" class="col-8 card p-3 m-3">

            <!-- <h1>Name</h1>
            <span>Image Here</span>
            <h3>Height:</h3>
            <h3>Weight:</h3>
            <h3>Types:</h3> -->

        </div>



    </section>
</div>